Order Allow,Deny
Allow from all

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    
    # Allow direct access to PHP files
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule ^ - [L]
</IfModule>
